@use "variables";

bar {
  padding: 4px;
  border-radius: 5px;
  background-color: variables.$bg-color;

  image {
    -gtk-icon-size: 20px;
    &.logo {
      -gtk-icon-size: 40px;
    }
  }

  .circular-progress {
    color: variables.$fg-color;
    &.warning {
      color: variables.$warning-color;
    }
  }

  button {
    background-color: transparent;
    border: none;
    &:hover {
      color: variables.$fg-color;
      opacity: 0.5;
    }
  }

  popover {
    margin-left: 10px;
    border: none;

    arrow {
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }

    contents {
      background-color: variables.$bg-color;

      .popover-menu {
        padding: 3px;

        >box {
          margin: 3px;
          padding: 5px;
          border-radius: 3px;
          background-color: variables.$alternate-color;

          &.popover-title {
            margin-bottom: 10px;
            font-size: 20px;
          }

          >box {
            margin: 3px;
          }
        }
      }
    }
  }
}
